<div>
	<md-card style="height:75vh;">
		<md-content style="margin: 10px 20px 0 20px;">
			<h3>{{ ctrl.company.name }} ({{ ctrl.company.abbr }})</h3>
			<div layout-gt-sm="row" layout="column" style="margin: 10px 0;">
				<span ng-repeat="detail in ctrl.company.stockUserDetails" style="margin-right: 30px;">
					<b>{{ detail.key }}</b> {{ detail.value }}
				</span>
			</div>
			<div layout="column">
				<span style="margin-bottom:5px;"><b>Current:</b> <b>Shares</b> 0 / <b>Cost</b> $0.00</span>
				<div layout="row">
					<div flex layout="column" style="max-width: 32px;">
						<md-button style="min-width: 24px; background: rgba(37,148,107,.3); border: 1px solid #000;">+</md-button>
						<md-button style="min-width: 24px; background: rgba(176,28,48,.3); border: 1px solid #000;">-</md-button>
					</div>
					<md-button style="background: rgba(37,148,107,.3); border: 1px solid #000;margin-left:20px;">.25</md-button>
					<md-button style="background: rgba(37,148,107,.3); border: 1px solid #000;">.50</md-button>
					<md-button style="background: rgba(37,148,107,.3); border: 1px solid #000;">1</md-button>
				</div>
			</div>
			<div layout-gt-sm="row" layout="column" style="margin:10px 0">
				<span ng-repeat="detail in ctrl.company.stockDetails" style="margin-right: 30px;">
					<div style="font-size: small;"><b>{{ detail.key }}:</b> {{ detail.value }}</div>
				</span>
			</div>
			<div id="container" style="min-width: 310px; height: 315px; margin: 0 auto"></div>
		</md-content>
	</md-card>
	<md-card>
		<h4 ng-show="!ctrl.actions.commentEx" style="text-align:center">Comments</h4>
		<md-icon ng-click="ctrl.actions.commentEx = !ctrl.actions.commentEx" class="md-secondary icon selectable"
				 ng-class="{'ion-chevron-down':!ctrl.actions.commentEx,'ion-chevron-up':ctrl.actions.commentEx}" style="position:relative; margin-top: 10px;"></md-icon>
		<md-content ng-show="ctrl.actions.commentEx">
			<md-list flex>
				<md-subheader class="md-no-sticky">Comments</md-subheader>
				<md-list-item class="md-3-line md-margin" ng-repeat="comment in ctrl.company.comments" style="min-height:50px; position: relative;" layout="row">
					<img ng-src="{{ comment.photo }}" class="md-avatar" style="height:60px;width:60px;margin-top:8px;"/>
					<div layout="column">
						<div><b>{{ comment.user }}</b></div>
						<div>{{ comment.text }}</div>
					</div>
				</md-list-item>
			</md-list>
		</md-content>
	</md-card>
</div>