<div>
	<md-content flex layout-padding class="header" style="background-image: url('{{ ctrl.backgrounds[ctrl.test.background] }}');background-size: 100%;background-repeat: no-repeat;">
		<div class="md-primary" layout-gt-sm="row" layout="column">
			<div flex-gt-sm="25" flex="100" flex-order-gt-sm="1" flex-order="1" class="selectable nav-icons" layout="row" layout-align="center center">
				<span flex-gt-sm="50" flex="10" class="icon ion-android-home selectable nav-home" ui-sref="home"></span>
				<span flex-gt-sm="50" flex="10" class="icon ion-person selectable nav-profile" ng-click="toggleRight()"></span>
				<span flex-gt-sm="0" flex="80"></span>
			</div>
			<div flex-gt-sm="50" flex="100" flex-order-gt-sm="2" flex-order="2">
				<h3 style="text-align:center">Ambrosia</h3>
			</div>
			<div flex-gt-sm="25" flex="100" flex-order-gt-sm="3" flex-order="3" style="position:relative;" class="selectable" layout="row">
				<div hide show-gt-sm flex="10">
					<span class="center-vertical-parent"><i flex class="center-vertical icon ion-search"></i></span>
				</div>
				<md-content flex-gt-sm="80" flex="100" style="background:none; display: flex; align-items: center;">
					<form ng-submit="$event.preventDefault()" style="width:100%;">
						<md-autocomplete
								ng-disabled="ctrl.isDisabled"
								md-no-cache="ctrl.noCache"
								md-selected-item="ctrl.selectedItem"
								md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
								md-search-text="ctrl.searchText"
								md-selected-item-change="ctrl.selectedItemChange(item)"
								md-items="item in ctrl.querySearch(ctrl.searchText)"
								md-item-text="item.display"
								md-min-length="0"
								placeholder="What company are you looking for?">
							<md-item-template>
								<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
							</md-item-template>
							<md-not-found>
								No states matching "{{ctrl.searchText}}" were found.
								<a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
							</md-not-found>
						</md-autocomplete>
					</form>
				</md-content>
			</div>
		</div>
	</md-content>
	<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
		<md-toolbar layout="column" class="md-tall" style="background-image: url('{{ ctrl.backgrounds[ctrl.test.background] }}');background-size: 100%;background-repeat: no-repeat;">
			<md-list-item layout="row">
				<img ng-src="{{ ctrl.test.image }}" class="md-avatar" style="border: 1px solid #ddd;height:60px;width:60px;margin-top:30px;"/>
				<div class="md-list-item-text" layout="column" style="margin-top: 30px;">
					<span>{{ ctrl.test.name }}</span>
					<span style="font-size: small;">{{ ctrl.test.email }}</span>
				</div>
			</md-list-item>
			<div layout-gt-sm="row" layout="row" style="text-align:center" class="md-margin">
				<md-icon flex class="md-secondary icon ion-arrow-left-b selectable" ng-click="ctrl.incBackground(-1)"></md-icon>
				<md-icon flex class="md-secondary icon ion-arrow-right-b selectable" ng-click="ctrl.incBackground(1)"></md-icon>
			</div>
		</md-toolbar>
		<md-content ng-controller="LeftCtrl" layout-padding style="min-height:100vh;">
			<md-list-item ng-repeat="tab in ctrl.nav" ng-click="tab.click()" class="selectable">
				<md-icon class="md-secondary icon" ng-class="tab.icon" style="position:relative;margin-top: 22px;"></md-icon>
				<span>{{ tab.text }}</span>
			</md-list-item>
		</md-content>
	</md-sidenav>
</div>