<div>
	<md-content flex layout-padding class="header">
		<div class="md-primary" layout="row">
			<div flex="25" style="position:relative;" class="selectable">
				<span style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);" flex class="icon ion-person" ng-click="toggleRight()"></span>
			</div>
			<div flex="50">
				<h3 style="text-align:center">Ambrosia</h3>
			</div>
			<div flex="25" style="position:relative;" class="selectable">
				<span style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);" flex class="icon ion-search"></span>
			</div>
		</div>
	</md-content>
	<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
		<md-toolbar class="md-tall" style="background-image: url('{{ ctrl.backgrounds[0] }}');background-size: 100%;background-repeat: no-repeat;">
			<md-list-item layout="row">
				<img ng-src="{{ ctrl.test.image }}" class="md-avatar" style="height:60px;width:60px;margin-top:30px;"/>
				<div class="md-list-item-text" layout="column" style="margin-top: 30px;">
					<span>{{ ctrl.test.name }}</span>
					<span style="font-size: small;">{{ ctrl.test.email }}</span>
				</div>
			</md-list-item>
		</md-toolbar>
		<md-content ng-controller="LeftCtrl" layout-padding style="min-height:100vh;">
			<md-list-item ng-repeat="tab in ctrl.nav" ng-click="tab.click()" class="selectable">
				<md-icon class="md-secondary icon" ng-class="tab.icon" style="position:relative;margin-top: 22px;"></md-icon>
				<span>{{ tab.text }}</span>
			</md-list-item>
		</md-content>
	</md-sidenav>
</div>